body,
#hero > footer, 
#featured > section > article > div,
#all-items > section,
#all-items > section > article {
    display: flex;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero footer{
    display: flex;
    justify-content: space-between;
}

#featured > section {
    display: flex;
}

#featured > section > article > div {
    align-items: center;
    justify-content: center;
}

#all-items > section{
    flex-direction: column;
    
}

#all-items > section > article {
    align-items: center;
    justify-content: space-evenly;
}


#all-items > section > article:nth-child(even){
    flex-direction: row-reverse;
}

#all-items > section > article > div:last-child{
    flex-basis: 80%;
    
}

@media only screen and (max-width: 1022px) {
    #featured > section{
        flex-direction: column;
    }
    #featured section article:nth-child(even){
        border-left: 0px;
        border-right: 0px;
        

    }
    
    
}








